/*BODY STUFFS*/
body {
  text-align: center;
  font-family: "Press Start 2P", Arial, Serif;
}
body > h1 {
  margin-top: -5px;
  margin-bottom: -3px;
}

/*BOARD*/
.game {
  background-color: #3b3b62;
  display: inline-block;
  margin: 0 auto;
}

#canvas {
  visibility: hidden;
}

.notification {
  display: none;
  background-color: black;
  color: red;
}

/*BUTTONS*/
button {
  background-color: grey;
  border: 1px solid black;
  font-family: "Press Start 2P", Arial, Serif;
  margin: 5px;
  height: 45px;
  width: 300px;
}

.content {
  margin-top: 64px;
}

.resume {
  display: none;
}

.reset {
  display: none;
}

.playAgain {
  display: none;
}

.settings {
  display: inline-block;
}

.home {
  display: none;
}

.pause {
  display: none;
}

.mobileButton {
  display: none;
}

.mobileButtonCenter {
  text-align: center;
}

.mobileButtonCenter button {
  width: 80px;
}

.left--right button  {
  margin: 0 40px;
}

@media screen and (max-width: 960px) {
  .mobileButton {
    display: block;
  }

  .content {
    margin-top: 25px;
  }
}
